.container{

    width: 600px;
    margin: 0 auto;
   
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
}
.control-label{

    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    box-sizing: border-box;
}
.panel-panel-primary{
    width: 400px;
    margin: 0 auto;
    /* display: block; */
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
    position: relative;
    padding: 14px 18px;
height: 700px;
    border-radius: 4px;
    background-color: #fff;

}